[submodule "fristProject"]
    path = fristProject
    url = https://github.com/karan-hub/fristProject.git
[submodule "styling_components"]
    path = styling_components
    url = https://github.com/karan-hub/styling_components.git
[submodule "RewriteReactNativeApp"]
    path = RewriteReactNativeApp
    url = https://github.com/karan-hub/RewriteReactNativeApp.git
[submodule "ButtonEvent"]
	path = ButtonEvent
	url = https://github.com/karan-hub/ButtonEvent.git
[submodule "State"]
	path = State
	url = https://github.com/karan-hub/ButtonEvent.git
[submodule "props"]
	path = props
	url = https://github.com/karan-hub/props.git
[submodule "ReactNetiveStyling"]
	path = ReactNetiveStyling
	url = https://github.com/karan-hub/ReactNetiveStyling.git
[submodule "GetInput"]
	path = GetInput
	url = https://github.com/karan-hub/GetInput.git
